@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

h1 {
    text-align: center;
    padding: 30px;
}

.row {
    display: table;
    table-layout: fixed;
    margin: auto;
}

.column {
    display: table-cell;
}

.column1 {
    border-right: 2px solid #cbd0d8;
}

.column2 {
    border-right: 2px solid #cbd0d8;
}

.row1 {
    border-bottom: 2px solid #cbd0d8;
}

.row2 {
    border-bottom: 2px solid #cbd0d8;
}

.cell {
    height: 150px;
    width: 150px;
    text-align: center;
    line-height:150px
}

.cell:hover {
    background-color: lightgray;
}

#tttparent {
    font-size: 4em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}