@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

.inner {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 50px;
}

#tttparent {
    display: grid;
    width: 450px;
    height: 450px;
    /* background-color: gray; */
    margin: 0 auto;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    font-size: 4em;
    text-align: center;
    line-height: 147px;
    font-weight: bold;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    /* background-color: aqua; */
}

.cell {
    border: 1px solid grey;
}

#cell1 {
    border-top: 0;
    border-left: 0;
}

#cell2 {
    border-top: 0;
}

#cell3 {
    border-right: 0;
    border-top: 0;
}

#cell4 {
    border-left: 0;
}

#cell6 {
    border-right: 0;
}

#cell7 {
    border-left: 0;
    border-bottom: 0;
}

#cell8 {
    border-bottom: 0;
}

#cell9 {
    border-right: 0;
    border-bottom: 0;
}

.btn {
    display: inline;
    padding: 5px;
    margin: 5px;
}


.container {
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    width: 700px;
    display: grid;
    grid-template: 125px 450px 125px;
    height: 100px;
}

#btn1 {
    grid-column: 1;
}

#outputDiv {
    grid-column: 2;
    font-size: 2.5em;
    font-weight: 300;
    margin-top: 30px;
}

#btn2 {
    grid-column: 3;
}

#text {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: white;
    display: inline;
    margin: auto;
    margin-top: 40px;
}

.other {
    text-align: center;
    margin: 0;
    grid-column: 2/3;
    margin-top: 15px;
}

