@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

h1 {
    text-align: center;
    padding: 30px;
}

#tttparent {
    display: grid;
    width: 450px;
    height: 450px;
    /* background-color: gray; */
    margin: 0 auto;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    font-size: 4em;
    text-align: center;
    line-height: 147px;
    font-weight: bold;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.cell {
    border: 1px solid black;
}

.btn {
    display: inline;
    padding: 5px;
    margin: 5px;
}

#buttons {
    margin: auto;
    margin-top: 15px;
}

.container {
    margin: auto;
    text-align: center;
}

#winnerText {
    margin-top: 30px;
    font-size: 3em;
}